@font-face {
  font-family:"socicon";
  src:url(../fonts/socicon/socicon-webfont.eot);
  src:url(../fonts/socicon/socicon-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/socicon/socicon-webfont.woff) format("woff"),url(../fonts/socicon/socicon-webfont.ttf) format("truetype"),url(../fonts/socicon/socicon-webfont.svg#sociconregular) format("svg");
  font-weight:400;
  font-style:normal
}

@-webkit-keyframes logoFade {
0%,25%{opacity:1}
75%{opacity:0}
100%{opacity:0}
}

@-moz-keyframes logoFade {
0%,25%{opacity:1}
75%{opacity:0}
100%{opacity:0}
}

@-o-keyframes logoFade {
0%,25%{opacity:1}
75%{opacity:0}
100%{opacity:0}
}

@keyframes logoFade {
0%,25%{opacity:1}
75%{opacity:0}
100%{opacity:0}
}

@media (max-width: 768px) and (orientation:landscape) {
  .hide-on-landscape {
    display: none !important;
  }
}

* {
margin: 0;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

body {
  background:url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.top {
  min-height: 100%;
  /* equal to bottom height */
  margin: 0 auto -150px; 
}

.top:after {
  content: "";
  display: block;
}

.top {
  position: absolute;
  top:50%;
  left:50%;

  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.logo img {
  position: absolute;
  top:50%;
  left:50%;
  
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.logo img.first_image {
  -webkit-animation-name: logoFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: logoFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-direction: alternate;

  -o-animation-name: logoFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 3s;
  -o-animation-direction: alternate;

  animation-name: logoFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

.bottom, .top:after {
  height: 150px; 
}

.bottom .text {
  height: 150px;
  position: absolute; 
  bottom: 0;
  width: 100%;
}

.bottom .footer {
  height: 49px;
  font-size: 0.625em;
  text-align:center;
  vertical-align:middle;
  line-height:45px;
  color: #000000;
  background-color: #fdb813;
  opacity: .7;
  position: absolute; 
  bottom: 0;
  width: 100%;
}

.bottom a {
  color: #000000;
  text-decoration: none;
}

.socicon {
  margin:0 10px;
  font-size: 1.5em;
  font-family: 'socicon' !important;
}

.glyphicon-envelope {
  margin:0 10px;
  font-size: 1.5em;
}

.lato {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}